{
    "eth": {
        "network": "sepolia",
        "rpc_url": "https://sepolia.infura.io/v3/<your_api_key>",
        "chain_id": 11155111,
        "contract_address": "0x899647E1A672ecC9d352027e372A453467313889"
    },
    "ipfs": {
        "endpoint": "https://ipfs.infura.io:5001",
        "gateway": "https://krondor.infura-ipfs.io"
    },
    "cli": {
        "content_path": "./.github/content/",
        "manifest_filename": "manifest.json",
        "history_filename": "history.json",
    }
}