/* Variables.module.scss */
// Path: styles/Variables.module.scss
// Set root variables for styled components in this repository here

:root {
  /* Color Variables */

  // Background Colors
  --main-background: rgb(73, 70, 70);
  --main-background-foreground: rgb(10, 10, 9);
  --main-background-accent: #837d7d;

  // Text Colors
  --main-text: #eee5e5;
  --main-text-details: #af9d9d;

  // Border Colors
  --main-border-input: rgba(0, 0, 0, 0.4);
  --main-border: rgba(0, 0, 0, 0.2);

  // Button Colors
  --main-button-background: #3f71d0;
  --main-button-text: #ffffff;
  --main-button-background-secondary: rgba(0, 0, 0, 1);
  --main-button-text-secondary: #ffffff;

  // Status Colors
  --status-success: #46c34c;
  --status-error: #cb1b3f;
}