# Your on-chain secrets environment - Do not leak this!

# RPC
export API_URL=""
export API_KEY=""
export RPC_URL=""

# Etherscan API KEY - (optional?)
export ETHERSCAN_API_KEY="" 

# Your private key
export PRIVATE_KEY=""

# Chain Id of your network
export CHAIN_ID=1